<style>
    /**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
    ul[dnd-list] {
        min-height: 42px;
        padding-left: 0px;
    }

    /**
     * The dndDraggingSource class will be applied to
     * the source element of a drag operation. It makes
     * sense to hide it to give the user the feeling
     * that he's actually moving it.
     */
    ul[dnd-list] .dndDraggingSource {
        display: none;
    }

    /**
     * An element with .dndPlaceholder class will be
     * added to the dnd-list while the user is dragging
     * over it.
     */
    ul[dnd-list] .dndPlaceholder {
        background-color: #ddd;
        display: block;
        min-height: 42px;
    }

    ul[dnd-list] li {
        background-color: #fff;
        border: 1px solid #ddd;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
        display: block;
        padding: 10px 15px;
        margin-bottom: -1px;
    }

    /**
     * Show selected elements in green
     */
    ul[dnd-list] li.selected {
        background-color:#ddd;
        color: #3c763d;
    }

</style>
<div class="btn-group">
    <button type="button" class="btn btn-default" ng-click="nuevo()">Nuevo Producto</button>
    <button type="button" class="btn btn-default" ng-click="cancelar()">Listar Producto</button>
</div>

<div class="panel panel-primary" ng-hide="panelEditar">
    <div class="panel-heading">Parametrizaci&oacute;n de Producto</div>
    <div class="panel-body">
        <table class="resultados table table-striped">
            <tr>
                <th>Descripci&oacute;n</th>
                <th>Horas Fabricaci&oacute;n</th>
                <th>
                    &nbsp;
                </th>
            </tr>
            <tr ng-repeat="row in lista">
                <td class="row">{{row.descripcion}}</td>
                <td class="row">{{row.horasFabricacion}}</td>


                <td class="row">
                    <button type="button" class="btn btn-default" ng-click="editar(row)">
                        <span class="glyphicon glyphicon-pencil"></span>Editar
                    </button>
                    <button type="button" class="btn btn-default" ng-click="eliminar(row)">
                        <span class="glyphicon glyphicon-remove"></span>Eliminar
                    </button>
                </td>
            </tr>
        </table>
        <br/>
    </div>
</div>

<div class="panel panel-primary" ng-show="panelEditar">
    <div class="panel-heading">Parametrizaci&oacute;n de Producto</div>
    <div class="panel-body">
        <form role="form" id="formularioEditar">
            <div class="row">
                <div class="form-group col-md-6" ng-class="errores.descripcion ? 'error' : ''">
                    <label for="descripcion">descripcion</label>
                    <input id="descripcion" 
                           class="form-control" 
                           type="text"
                           ng-model="datosFormulario.descripcion"
                           placeholder="descripcion"/>
                    <div ng-show="errores.descripcion">{{errores.descripcion}}</div>
                </div>
                <div class="form-group col-md-6" ng-class="errores.horasFabricacion ? 'error' : ''">
                    <label for="horasFabricacion">horasFabricacion</label>
                    <input id="horasFabricacion" 
                           class="form-control" 
                           type="text"
                           ng-model="datosFormulario.horasFabricacion"
                           placeholder="horasFabricacion"/>
                    <div ng-show="errores.horasFabricacion">{{errores.horasFabricacion}}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="panel panel-primary" >
                        <div class="panel-heading">SubProcesos Agregados</div>
                        <div class="panel-body">
                            <ul dnd-list="listaSubprocesos"
                                dnd-effect-allowed="move"
                                dnd-inserted="logListEvent('inserted at', index, item, type)">
                                <li ng-repeat="row in listaSubprocesos"
                                    dnd-draggable="row"
                                    dnd-effect-allowed="move"                                    
                                    dnd-moved="listaSubprocesos.splice($index, 1)"
                                    dnd-selected="listaSubprocesos.selected = row"
                                    ng-class="{'selected': listaSubprocesos.selected === row}">
                                    <div class="row">
                                        <div class="col-lg-8 col-md-8">{{row.tipoSubproceso.descripcion}}</div>
                                        <div class="col-lg-2 col-md-2"><input type="text" ng-model="row.horas" class="form-control"/></div>
                                        <div class="col-lg-2 col-md-2">
                                            <button type="button" class="btn btn-default" ng-click="borrar()">
                                                <i class="glyphicon glyphicon-trash"></i>
                                            </button>
                                        </div>
                                    </div>

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Subprocesos</div>
                        <div class="panel-body">
                            <ul dnd-list="listaTiposSubprocesos"
                                dnd-allowed-types="['item']"
                                dnd-external-sources="true"   
                                dnd-effect-allowed="move"                            
                                >
                                <!-- The dnd-draggable directive makes an element draggable and will
                                     transfer the object that was assigned to it. If an element was
                                     dragged away, you have to remove it from the original list
                                     yourself using the dnd-moved attribute -->
                                <li ng-repeat="tipoProceso in listaTiposSubprocesos"
                                    dnd-draggable="tipoProceso"                                    
                                    dnd-effect-allowed="move"
                                    dnd-type="'item'"
                                    dnd-moved="listaTiposSubprocesos.splice($index, 1)"
                                    dnd-selected="listaTiposSubprocesos.selected = tipoProceso"
                                    ng-class="{'selected': listaTiposSubprocesos.selected === tipoProceso}"
                                    >
                                    {{tipoProceso.descripcion}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>



            </div>


            <div class="btn-group">
                <button type="button" class="btn btn-default" ng-click="guardar()" ng-show="nuevoRegistro">Guardar</button>
                <button type="button" class="btn btn-default" ng-click="guardar()" ng-show="!nuevoRegistro">Aceptar</button>
                <button type="button" class="btn btn-default" ng-click="cancelar()">Cancelar</button>
            </div>
        </form>
    </div>
</div>

